<!DOCTYPE html>
<html lang="en">
  <%- include ('head.ejs') %>
  <body>
    <div class="container mt-4 p-4 font-weight-bold">
      <h4 class="text-center pb-2">Add Expense</h4>
      <form>
        <div class="form-group">
          <!-- Type -->
          <select
            name="type"
            class="form-control form-control-lg w-50 mx-auto mb-4"
          >
            <option>Please select a payment type</option>
            <option value="paid">Paid</option>
            <option value="income">Income</option>
          </select>
        </div>
        <div class="form-group">
          <!-- Amount -->
          <input
            type="text"
            class="form-control form-control-lg w-50 mx-auto mb-4"
            name="amount"
            placeholder="Amount"
          />
        </div>
        <div class="form-group">
          <!-- Date -->
          <input
            type="date"
            class="form-control form-control-lg w-50 mx-auto mb-4"
            name="date"
            placeholder="Date"
            required
          />
        </div>
        <div class="form-group">
          <!-- category -->
          <select
            name="category"
            class="form-control form-control-lg w-50 mx-auto mb-4"
          >
            <option>Please select a catagory</option>
            <option value="Utility">Utility</option>
            <option value="Transport">Transport</option>
            <option value="Food">Food</option>
            <option value="Daily goods">Daily goods</option>
            <option value="Rent">Rent</option>
            <option value="Travel">Travel</option>
            <option value="Social">Social</option>
            <option value="Others">Others</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            class="form-control form-control-lg w-50 mx-auto mb-4"
            name="memo"
            placeholder="Memo"
            row="3"
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-block font-weight-bold mx-auto w-50 mb-4"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
