<!DOCTYPE html>
<html lang="en">
  <%- include ('head.ejs') %>
  <body>
    <div class="container mt-4 p-4 d-flex flex-column font-weight-bold">
      <h3 class="title text-center">Account's Book</h3>
      <div class="d-flex justify-content-center my-2">
        <div class="monthly-expense d-flex flex-row p-2 mx-2">
          <div class="p-2">This Month</div>
          <div class="p-2">-$108.72</div>
        </div>
        <div class="payment-type d-flex flex-row p-2 mx-2">
          <div class="p-2">Income</div>
          <div class="p-2 text-success">-$0</div>
        </div>
        <div class="payment-type d-flex flex-row p-2 mx-2">
          <div class="p-2">Paid</div>
          <div class="p-2 text-danger">-$108.72</div>
        </div>
      </div>
      <div class="d-flex justify-content-center my-2">
        <a type="submit" class="btn font-weight-bold p-2 mx-2"
          ><i class="fas fa-plus pr-2"></i>Add expense</a
        >
      </div>
      <div class="expense-container mt-2 d-flex justify-content-center">
        <div class="list-container border p-2 mx-2">
          <div class="row">
            <div class="col-md-2">Type</div>
            <div class="col-md-2">Amount</div>
            <div class="col-md-2">Date</div>
            <div class="col-md-2">Category</div>
            <div class="col-md-2">Memo</div>
            <div class="col-md-2">Action</div>
          </div>
        </div>
        <div class="chart-container border p-2 mx-2">chart placeholder</div>
      </div>
    </div>
  </body>
</html>
