<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link to font awesome CDN -->
    <link
      href="https://use.fontawesome.com/releases/v5.0.4/css/all.css"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Expense Tracker</title>
  </head>
  <body>
    <div class="container mt-4 p-4 d-flex flex-column font-weight-bold">
      <h3 class="title text-center">Account's Book</h3>
      <div class="d-flex justify-content-center my-2">
        <div class="monthly-expense d-flex flex-row p-2 mx-2">
          <div class="p-2">This Month</div>
          <div class="p-2">-$108.72</div>
        </div>
        <div class="payment-type d-flex flex-row p-2 mx-2">
          <div class="p-2">Income</div>
          <div class="p-2 text-success">-$0</div>
        </div>
        <div class="payment-type d-flex flex-row p-2 mx-2">
          <div class="p-2">Paid</div>
          <div class="p-2 text-danger">-$108.72</div>
        </div>
      </div>
      <div class="expense-container mt-4 d-flex justify-content-center">
        <div class="list-container border p-2 mx-2">
          <div class="row">
            <div class="col-md-2">Type</div>
            <div class="col-md-2">Amount</div>
            <div class="col-md-2">Date</div>
            <div class="col-md-2">Category</div>
            <div class="col-md-2">Memo</div>
            <div class="col-md-2">Action</div>
          </div>
        </div>
        <div class="chart-container border p-2 mx-2">chart placeholder</div>
      </div>
    </div>
  </body>
</html>
